.content_bg{
    background:rgba(0,0,0,0.7);
}

html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;/* 16px*/
    line-height: 2;
    }
footer{
    font-size:1.2rem;
}
.uk-accordion-title{
    font-size:1.6rem;
}
#title{
    font-family: "M PLUS Rounded 1c";
    margin-top: 40vh;
    text-shadow:0 0 6px #000000;
}
#logo{
    width:50vw;
}


    

@media (min-width: 1200px) {/* 1200px以上*/
    h1 {
        font-size: 3.6rem;/* 36px*/
    }
    h2 {
        font-size: 3rem;/* 24px*/
    }
    h3 {
        font-size: 1.4rem;
    }
    footer {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 640px) {/* 640px以下*/
    body{
    line-height: 2;
    }
    h1{
        font-size: 2.4rem;/* 24px*/
    }
    #logo{
        width:90vw;
    }
    h2 {
        font-size: 2.2rem;/* 20px*/
    }
    h3 {
        font-size: 1.2rem;
    }
    footer {
        font-size: 1rem;
    }
    .uk-accordion-content{
        width: 80vw;
    }
    .movie-wrap {
        position: relative;
        padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
        height: 0;
        overflow: hidden;
   }
    .movie-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
   }
}