@charset "UTF-8";
@font-face {
  display: swap;
  font-family: "Noto Sans JP";
  src: url(./2024kitayama/fonts/NotoSansJP-Regular.woff) format("woff"), url(./2024kitayama/fonts/NotoSansJP-Regular.ttf) format("tff");
}
@font-face {
  display: swap;
  font-family: "SUSE";
  font-weight: 700;
  src: url(./2024kitayama/fonts/SUSE-Bold.woff) format("woff"), url(./2024kitayama/fonts/SUSE-Bold.ttf) format("tff");
}
@font-face {
  display: swap;
  font-family: "DotGothic16";
  src: url(./2024kitayama/fonts/DotGothic16-Regular.woff) format("woff"), url(./2024kitayama/fonts/DotGothic16-Regular.ttf) format("tff");
}
@font-face {
  display: swap;
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  src: url(./2024kitayama/fonts/MPLUSRounded1c-Regular.woff) format("woff"), url(./2024kitayama/fonts/MPLUSRounded1c-Regular.ttf) format("tff");
}
@font-face {
  display: swap;
  font-family: "M PLUS Rounded 1c";
  font-weight: 800;
  src: url(./2024kitayama/fonts/MPLUSRounded1c-Bold.woff) format("woff"), url(./2024kitayama/fonts/MPLUSRounded1c-Bold.ttf) format("tff");
}
/*ディスプレイサイズが769px以上の端末で閲覧した時のデザイン（PC用）*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "SUSE", "Noto Sans JP", serif;
  font-weight: 700;
  font-style: normal;
}

#event-info h2,
#event-info h3 {
  font-family: "DotGothic16", "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
}

#event-info span,
#about h3 {
  font-family: "DotGothic16", "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#notice .wrapper,
#access .subtitle {
  font-family: "M PLUS Rounded 1c", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 18px;
  line-height: 28px;
}

h2 {
  font-size: 80px;
  font-weight: 800;
}

#event-info h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

li {
  list-style: none;
  font-size: 18px;
  line-height: 28px;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  background-image: url(./2024kitayama/images/header.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
header img {
  width: 38vw;
  margin: 20px;
}

.heading {
  padding: 100px 50px 60px;
  text-align: left;
}
.heading h2 {
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}

.label {
  padding: 100px 50px;
}

#info {
  background-image: url(./2024kitayama/images/backgroundimage.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#event-info .start {
  text-align: center;
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
#event-info .start .wrapper {
  display: inline-block;
  padding: 25px 50px;
  background: white;
  border-radius: 30px;
}
#event-info a {
  color: black;
}
#event-info .first {
  position: relative;
}
#event-info .first img {
  position: relative;
  top: 0;
  left: 30vw;
  width: 60vw;
  height: auto;
  z-index: 1;
}
#event-info .first .wrapper {
  display: inline-block;
  padding: 50px;
  position: absolute;
  top: 20%;
  left: 10vw;
  background: white;
  border-radius: 30px;
  z-index: 2;
}
#event-info .first .wrapper div:nth-child(1), #event-info .first .wrapper div:nth-child(2) {
  padding-bottom: 25px;
}
#event-info .first .wrapper div span {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 25px;
  background-color: black;
}
#event-info .first .wrapper div p {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 30px;
}
#event-info .second {
  position: relative;
  height: 200px;
}
#event-info .second .wrapper {
  display: inline-block;
  padding: 50px;
  position: absolute;
  top: -150px;
  right: 10vw;
  background: white;
  border-radius: 30px;
}
#event-info .second .wrapper .subtitle {
  padding-bottom: 25px;
}
#event-info .second .wrapper .subtitle br {
  display: none;
}
#event-info .second .wrapper .detail:nth-of-type(2) {
  padding-bottom: 25px;
}
#event-info .second .wrapper .detail div:first-child {
  padding-bottom: 25px;
}
#event-info .second .wrapper .detail div span {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 25px;
  background-color: black;
}
#event-info .second .wrapper .detail div p {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 30px;
}
#event-info .third {
  position: relative;
  margin-bottom: 50px;
}
#event-info .third > img {
  padding-top: 50px;
  position: relative;
  left: 46vw;
  width: 60vw;
  height: auto;
  z-index: 2;
}
#event-info .third .wrapper {
  width: 400px;
  display: inline-block;
  padding: 50px;
  position: absolute;
  top: 100px;
  left: 0;
  background: white;
  text-align: center;
  border-radius: 30px;
  z-index: 3;
}
#event-info .third .wrapper img {
  width: 100%;
}
#event-info .third .wrapper h3 {
  padding-top: 25px;
}
#event-info .third p {
  font-size: 28px;
}
#event-info .forth {
  text-align: right;
  padding: 50px 0;
  position: relative;
}
#event-info .forth .wrapper {
  display: inline-block;
  text-align: center;
  padding: 50px;
  background: white;
  border-radius: 30px;
}
#event-info .forth .wrapper *:nth-child(1), #event-info .forth .wrapper *:nth-child(2) {
  padding-bottom: 25px;
}
#event-info .forth .wrapper img {
  width: 180px;
}
#event-info .forth > img {
  width: 30vw;
  height: auto;
  position: absolute;
  top: -50px;
  left: 50px;
}

#about {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}
#about .virtuallive, #about .vr {
  display: flex;
  gap: 50px;
  padding: 0 50px 100px 50px;
}
#about .virtuallive .detail .subtitle, #about .vr .detail .subtitle {
  padding-left: 20px;
  padding-bottom: 20px;
}
#about .virtuallive .detail .subtitle h3, #about .vr .detail .subtitle h3 {
  position: relative;
}
#about .virtuallive .detail .subtitle h3 span, #about .vr .detail .subtitle h3 span {
  font-size: 18px;
}
#about .virtuallive .detail .wrapper, #about .vr .detail .wrapper {
  padding: 20px 20px;
  border: 3px solid white;
  border-radius: 30px;
}
#about .virtuallive .detail .wrapper .small, #about .vr .detail .wrapper .small {
  display: none;
}
#about .large {
  width: 65vw;
  border-radius: 30px;
}

#notice {
  background-color: #83A1A1;
  padding-bottom: 100px;
}
#notice .heading h2 {
  border-bottom: 3px solid black;
}
#notice .detail {
  padding: 0 50px;
}
#notice .wrapper {
  padding: 50px 50px;
  border-radius: 50px;
  color: white;
  background-color: black;
}
#notice .wrapper p {
  padding-top: 28px;
}
#notice .wrapper li::before {
  content: "－";
}
#notice .wrapper li::before before {
  content: "－";
}

#access {
  color: white;
  background-color: #505050;
}
#access .googlemap {
  padding: 0 50px 100px;
}
#access .googlemap iframe {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  text-align: center;
}
#access .detail {
  text-align: center;
}
#access .detail .subtitle {
  padding-bottom: 30px;
  font-weight: bold;
}
#access .detail .subtitle p {
  display: flex;
  align-items: center;
  justify-content: center;
}
#access .detail .subtitle p::before, #access .detail .subtitle p::after {
  content: "";
  width: 16rem;
  height: 2px;
  background-color: white;
}
#access .detail .subtitle p::before {
  margin-right: 1rem;
}
#access .detail .subtitle p::after {
  margin-left: 1rem;
}
#access .detail div.wrapper P {
  padding-bottom: 30px;
}
#access .detail div.wrapper:nth-of-type(2) {
  padding-bottom: 80px;
}
#access .detail div.wrapper:nth-of-type(4) {
  padding-bottom: 100px;
}

footer {
  color: white;
  background-color: black;
  padding-bottom: 30px;
}
footer nav ul {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 150px;
}
footer nav ul a {
  color: white;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  width: 300px;
}

@media screen and (max-width: 500px) {
  /*ディスプレイサイズが425px以下の端末で閲覧した時のデザイン（モバイル端末用）*/
  body {
    max-width: 100vw;
  }
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h2 {
    font-size: 35px;
    font-weight: 800;
  }
  #event-info h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  li {
    list-style: none;
    font-size: 15px;
    line-height: 25px;
  }
  header {
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
  }
  header img {
    width: 80vw;
  }
  .heading {
    padding: 50px 30px 30px;
    text-align: left;
  }
  .heading h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  .label {
    padding: 30px 30px;
  }
  #event-info .start {
    text-align: center;
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
  #event-info .start .wrapper {
    display: inline-block;
    padding: 25px 40px;
    background: white;
    border-radius: 30px;
  }
  #event-info a {
    color: black;
  }
  #event-info .first {
    position: relative;
  }
  #event-info .first img {
    position: relative;
    top: 0;
    left: 28vw;
    width: 70vw;
    height: auto;
    z-index: 1;
  }
  #event-info .first .wrapper {
    display: inline-block;
    padding: 20px 20px;
    position: absolute;
    top: 30%;
    left: 0;
    background: white;
    border-radius: 30px;
    z-index: 2;
  }
  #event-info .first .wrapper div:nth-child(1), #event-info .first .wrapper div:nth-child(2) {
    padding-bottom: 20px;
  }
  #event-info .first .wrapper div span {
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: 17px;
    background-color: black;
  }
  #event-info .first .wrapper div p {
    padding-top: 0;
    padding-left: 10px;
    font-size: 15px;
  }
  #event-info .second {
    position: relative;
    height: 300px;
  }
  #event-info .second .wrapper {
    display: inline-block;
    padding: 20px 20px;
    position: absolute;
    top: -20px;
    right: 0;
    background: white;
    border-radius: 30px;
  }
  #event-info .second .wrapper .subtitle {
    padding-bottom: 10px;
  }
  #event-info .second .wrapper .subtitle br {
    display: block;
  }
  #event-info .second .wrapper .detail:nth-of-type(2) {
    padding-bottom: 20px;
  }
  #event-info .second .wrapper .detail div:first-child {
    padding-bottom: 20px;
  }
  #event-info .second .wrapper .detail div span {
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: 18px;
    background-color: black;
  }
  #event-info .second .wrapper .detail div p {
    padding-top: 0px;
    padding-left: 10px;
    font-size: 15px;
  }
  #event-info .third {
    position: relative;
    text-align: right;
    margin-bottom: 0px;
  }
  #event-info .third > img {
    padding-top: 50px;
    position: relative;
    left: auto;
    width: 70vw;
    height: auto;
  }
  #event-info .third .wrapper {
    width: 150px;
    display: inline-block;
    padding: 20px 20px;
    position: absolute;
    top: -40px;
    left: 0px;
    background: white;
    text-align: center;
    border-radius: 30px;
  }
  #event-info .third .wrapper img {
    width: 100%;
    border-radius: 15px;
  }
  #event-info .third .wrapper h3 {
    padding-top: 20px;
    font-size: 15px;
  }
  #event-info .third p {
    font-size: 15px;
  }
  #event-info .forth {
    text-align: center;
    padding: 0 0;
    padding-top: 60px;
    position: relative;
  }
  #event-info .forth .wrapper {
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
    background: white;
    border-radius: 30px;
  }
  #event-info .forth .wrapper h3 {
    font-size: 15px;
  }
  #event-info .forth .wrapper *:nth-child(1), #event-info .forth .wrapper *:nth-child(2) {
    padding-bottom: 20px;
  }
  #event-info .forth .wrapper img {
    width: 80px;
  }
  #event-info .forth > img {
    position: absolute;
    top: -20%;
    left: 20px;
    width: 30vw;
    height: auto;
  }
  #about .virtuallive, #about .vr {
    display: block;
    padding: 0 30px 30px 30px;
  }
  #about .virtuallive .detail .subtitle, #about .vr .detail .subtitle {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  #about .virtuallive .detail .subtitle h3 span, #about .vr .detail .subtitle h3 span {
    font-size: 14px;
  }
  #about .virtuallive .detail .wrapper, #about .vr .detail .wrapper {
    padding: 20px;
    border: 2px solid white;
    border-radius: 30px;
  }
  #about .virtuallive .detail .wrapper p, #about .vr .detail .wrapper p {
    padding-bottom: 20px;
  }
  #about .virtuallive .detail .wrapper .small, #about .vr .detail .wrapper .small {
    display: block;
    width: 100%;
    border-radius: 15px;
  }
  #about .large {
    display: none;
  }
  #notice {
    padding-bottom: 30px;
  }
  #notice .heading h2 {
    border-bottom: 2px solid black;
  }
  #notice .detail {
    padding: 0 30px;
  }
  #notice .wrapper {
    padding: 20px;
    border-radius: 30px;
    color: white;
    background-color: black;
  }
  #notice .wrapper p {
    padding-top: 10px;
  }
  #access .googlemap {
    padding: 0 30px 50px;
  }
  #access .googlemap iframe {
    width: 100%;
    height: 350px;
    border-radius: 30px;
  }
  #access .detail .subtitle {
    padding-bottom: 10px;
  }
  #access .detail .subtitle p::before, #access .detail .subtitle p::after {
    content: "";
    width: 5rem;
    height: 1px;
    background-color: white;
  }
  #access .detail .subtitle p::before {
    margin-right: 1rem;
  }
  #access .detail .subtitle p::after {
    margin-left: 1rem;
  }
  #access .detail div.wrapper {
    padding: 0 10px;
  }
  #access .detail div.wrapper p {
    padding-bottom: 10px;
  }
  #access .detail div.wrapper span {
    white-space: nowrap;
  }
  #access .detail div.wrapper:nth-of-type(2) {
    padding-bottom: 30px;
  }
  #access .detail div.wrapper:nth-of-type(4) {
    padding-bottom: 30px;
  }
  footer {
    padding-bottom: 20px;
  }
  footer nav ul {
    padding: 20px 0;
    gap: 30px;
  }
  footer .logo img {
    width: 180px;
  }
}
header img,
#about .detail,
#about .large {
  opacity: 0;
}

header img.move,
#about .detail.move,
#about .large.move {
  opacity: 1;
  transition: all 0.8s linear;
}

#event-info .wrapper {
  opacity: 0;
  transform: translateY(50px);
}

#event-info .wrapper.move {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s linear;
}/*# sourceMappingURL=style.css.map */
